@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.header {
    background-color: black;
    background-image: url("../img/sections_background/section-1(header).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 120px);
    background-attachment: fixed;
    padding-top: 120px;
}

.navbar {
    padding: 26px 0;
    background-color: rgba(73, 71, 63, 0.6);
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo:hover .navbar-logo-text-3 {
    color: #fff;
}

.navbar-logo:hover .navbar-logo-text-2 {
    color: #18cfab;
}

.navbar-logo-hexagon {
    display: block;
    position: relative;
    width: 58px; 
    height: 33.49px;
    background-color: #18cfab;
    margin: 16.74px 0;
}

.navbar-logo-hexagon:before,
.navbar-logo-hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
}

.navbar-logo-hexagon:before {
    bottom: 100%;
    border-bottom: 16.74px solid #18cfab;
}

.navbar-logo-hexagon:after {
    top: 100%;
    width: 0;
    border-top: 16.74px solid #18cfab;
}

.navbar-logo-text-1 {
    position: absolute;
    margin-left: 14px;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

.navbar-logo-text-2 {
    margin-left: 8px;
    color: #fff;
    font-size: 31.96px;
}

.navbar-logo-text-3 {
    color: #18cfab;
    font-size: 31.96px;
    font-weight: 700;
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
}

.navbar-nav-item {
    display: inline-block;
}

.navbar-nav-link {
    margin-right: 15px;
    font-size: 13px;
    font-weight: 700;
    color: #b8b8b8;
    text-transform: uppercase;
    position: relative;
}

.navbar-nav-link::after {
    content: '';
    height: 2px;
    background-color: #18cfab;
    bottom: -57px;
    opacity: 0;
    width: 100%;
    left: 0;
    transition: 0.4s;
    position: absolute;
}

.navbar-nav-link:hover {
    color: #18cfab;
}

.navbar-nav-link:hover::after {
    opacity: 1;
}

.navbar-search-icon {
    font-size: 25px;
    color: #b8b8b8;
    cursor: pointer;
}

.navbar-search-icon:hover {
    color: #18cfab;
}

.navbar-search-field {
    display: none;
}

.header-slogan {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 120px);
}

.header-slogan-content {
    text-align: center;
}

.header-slogan-1 {
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.text-selected {
    color: #18cfab;
}

.header-slogan-2 {
    margin: 45px 0 37px;
    color: #fff;
    font-size: 79px;
    font-weight: 700;
    text-transform: uppercase;
}

.header-slogan-3 {
    margin-bottom: 146px;
    font-size: 34px;
    font-weight: 300;
    color:  #d4d4d4;
    text-transform: capitalize;
}

.header-btn {
    box-sizing: border-box;
    display: inline-block;
    padding: 25px 0;
    width: 166px;
    height: 61px;
    box-shadow: 0 4px #fff inset;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.header-btn-1 {
    background-color: #18cfab;
}

.header-btn-2 {
    background-color: #00cbf6;
    margin-left: 28px;
}

.header-btn:hover {
    box-shadow: none;
}

.options {
    display: flex;
    height: 374px;
}

.options-block {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.options-block:nth-child(odd) {
    background-color: #1c2a33;
    color: #18cfab;
    border-top: 7px solid #18cfab;
    
}

.options-block:nth-child(even) {
    background-color: #18cfab;
    color: #fff;
    border-top: 7px solid #fff;
}

.icon-pointer {
    width: 58px; height: 97px;
    background: url('../img/icons/icons_sprite.png') -197px -1px;
}

.icon-gem {
    width: 93px; height: 75px;
    background: url('../img/icons/icons_sprite.png') -102px -1px;
}

.icon-lamp {
    width: 61px; height: 96px;
    background: url('../img/icons/icons_sprite.png') -1px -79px;
}

.icon-devices {
    width: 99px; height: 76px;
    background: url('../img/icons/icons_sprite.png') -1px -1px;
}
.option-icon {
    height: 97px;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.services {
    padding: 82px 0 105px;
}

.section-title {
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
}

.section-title::after {
    content: '';
    display: block;
    margin: 37px auto 70px;
    height: 2px;
    width: 76px;
    background-color: #18cfab;
    box-shadow: 10px 4px #18cfab;
}

.section-title-black {
    color: #4e4e4e;
}

.section-title-white {
    color: #fff;
}

.section-title-lowercase {
    text-transform: none;
}

.services-name-item {
    display: inline-block;
    position: relative;
    margin-left: -4px;
    padding: 27px 0;
    width: 16.6%;
    border-top: 1px solid #ecebeb;
    border-bottom: 1px solid #ecebeb;
    border-left: 1px solid #ecebeb;
    background: #f8fcfe;
    font-size: 16px;
    color:  #717171;
    text-align: center;
    cursor: pointer;
}

.services-name-item:after {
    position: absolute;
    content: ' ';
    display: none;
    width: 20px;
    height: 20px;
    background-color: #18cfab;
    top: 60px;
    left: 85px;
    transform: rotate(45deg);
}

.services-name-item:last-of-type {
    border-right: 1px solid #ecebeb;
}

.services-name-item:hover {
    border-top: 1px solid #18cfab;
    color: #18cfab;
}

.services-name-item-acteve {
    background: #18cfab;
    border-top: 1px solid #18cfab;
    border-bottom: 1px solid #18cfab;
    border-left: 1px solid #18cfab;
    color: #fff;
}
    
.services-name-item-acteve:hover {
    color: #fff;
}

.services-name-item-acteve:after {
    display: block;
}

.services-name-item-acteve:last-of-type {
    border-right: 1px solid #18cfab;
}

.services-tabs-content {
    display: flex;
    margin-top: 25px;
    display: none;
    color: #fff;
}

.services-tabs-content-active {
    display: flex;
}

.services-tabs-text {
    margin-left: 20px;
    font-size: 13.64px;
    font-weight: 300;
    line-height: 25px;
    text-align: justify;
    color:  #777;
}

.purchase {
    padding: 127px 0;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../img/sections_background/section-2.jpg") center fixed;
    background-size: cover;
    text-align: center;
    position: relative;
}

.section-title-bold {
    margin-bottom: 35px;
    color: #18cfab;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.purchase-text {
    margin-bottom: 80px;
    font-size: 16px;
    color: #d8d8d8;
}

.work {
    padding: 82px 0 105px;
    background-color: #f8fcfe;
    border-bottom: 2px solid #e2e2e2;
    text-align: center;
}

.work-name {
    margin-bottom: 70px;
}

.work-name-item {
    display: inline-block;
    padding: 25px 30px;
    margin-left: -4px;
    border-top: 1px solid #ecebeb;
    border-bottom: 1px solid #ecebeb;
    border-left: 1px solid #ecebeb;
    background: #f8fcfe;
    font-size: 14px;
    color:  #717171;
    text-align: center;
    cursor: pointer;
}

.work-name-item:last-of-type {
    border-right: 1px solid #ecebeb;
}

.work-name-item:hover {
/*    border-top: 1px solid #18cfab;*/
    color: #18cfab;
}

.work-name-item-acteve {
    border-top: 1px solid #18cfab;
    color: #18cfab;
}

.work-gallery {
    display: flex;
    flex-wrap: wrap;
}

.work-gallery-item {
    position: relative;
    margin-bottom: -4px;
}

.work-gallery-item:hover .work-gallery-item-hover {
    opacity: 1;
}

.work-gallery-item-hover {
    box-sizing: border-box;
    padding: 45px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 3px #18cfab inset;
    text-align: center;
    opacity: 0;
    transition: all 0.2s linear;
}

.work-gallery-item-hover-icon:hover {
    background-color: #18cfab;
}

.work-gallery-item-hover-icon:hover .work-gallery-item-hover-icon-fa {
    color: #fff;
}

.work-gallery-item-hover-icon {
    margin-bottom: 35px;
    display: inline-block;
    padding: 10px;
    border: 1px solid #18cfab;
    border-radius: 50%;
}

.work-gallery-item-hover-icon-fa {
    font-size: 17px;
    color: #18cfab;
}

.work-gallery-item-hover-text-1 {
    margin-bottom: 13px;
    font-size: 14px;
    font-weight: 700;
    color: #18cfab;
    text-transform: uppercase;
}

.work-gallery-item-hover-text-2 {
    font-size: 12px;
    font-weight: 300;
    color: #8a8a8a;
    text-transform: capitalize;
}

.load-more-btn {
    box-sizing: border-box;
    display: inline-block;
    margin-top: 70px;
    padding: 15px 0;
    width: 166px;
    height: 61px;
    background-color: #18cfab;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.load-more-btn::before {
    content: '+';
    font-size: 30px;
    font-weight: 700;
    margin-right: 10px;
    vertical-align: -6px;
}

.load-more-btn:hover {
    background-color: #22353f;
    color: #18cfab;
}

.news {
    padding: 82px 0 105px;
}

.news-card {
    height: 605px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.news-card-item {
    position: relative;
    width: 263px;
}

.news-card-item:hover .news-card-date {
    background-color: #18cfab;
}

.news-card-item:hover .news-card-title {
    color: #18cfab;
}

.news-card-item:hover {
    cursor: pointer;
}

.news-card-date {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 5px 0;
    width: 68px;
    height: 66px;
    background-color: #203e38;
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

.news-card-description {
    padding: 14px 0;
    background: #f8fcfe;
    border-left: 1px solid #ecebeb;
    border-right: 1px solid #ecebeb;
    border-bottom: 1px solid #ecebeb;
}

.news-card-title {
    text-align: center;
    color: #717171;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

.news-card-info {
    margin-top: 14px;
    display: flex;
}

.news-card-text {
    flex-grow: 1;
    text-align: center;
    border-right: 2px solid #ccc;
}

.news-card-text:last-of-type {
    border-right: none;
}

.people {
    padding: 82px 0 105px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url("../img/sections_background/section-3.jpg") center fixed;
    background-size: cover;
    position: relative;
    text-align: center;
}

.people-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    color: #bbbbbb;
}

.icon-quotes {
    display: inline-block;
    margin-bottom: 43px;
    width: 44px; height: 30px;
    background: url('../img/icons/icons_sprite.png') -1px -179px;
}

.gallery {
   padding: 82px 0 105px; 
}

.gallery-content {
    text-align: center;
}

.footer {
    padding: 47px 0;
    background-color: #22353f;
}

.footer-text {
    font-size: 14px;
    font-weight: 300;
    color:  #aeaeae;
    text-align: center;
    text-transform: capitalize;
}

.footer-text-selected {
    color: #18cfab;
    text-transform: none;
}

.gallery-content {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 33.3333%;
    max-width: 33.3333%;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

.two-pictures {
    display: flex;
    flex: 50%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.two-pictures img {
    max-width: 50%;
    width: 180px;
}

.three-pictures {
    display: flex;
    flex: 33.3333%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.three-pictures img {
    max-width: 33.3333%;
    width: 115px;
}

.one-picture {
    width: 100%;
}

.carusel-container {
    width: 400px;
    margin: 45px auto 0;
}

.slider-for {
    margin-bottom: 70px;
}

.carusel-for-img {
    margin: 20px auto 0;
    border-radius: 50%;
    border: 2px solid #18cfab;
}

.carusel-nav-img {
    border-radius: 50%;
    border: 2px solid #18cfab;
}

.carusel-item-text-1 {
    margin: 10px;
    color: #18cfab;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.carusel-item-text-2 {
    margin: 10px;
    color:  #bbb;
    font-size: 13px;
    font-weight: 300;
}